[submodule "ioen.balancer.api"]
	path = backend
	url = git@github.com:ioen-tech/ioen.balancer.api.git
[submodule "ioen.balancer.schema"]
	path = prisma
	url = git@github.com:ioen-tech/ioen.balancer.schema.git
